@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/*================================================================================
  Item Name: Lizl's Styles
  Version: 1.0
  Author: Josephine Lizl Marquez
  Author URL: http://www.sportzer.com/developers/lizl
================================================================================*/

/*================================================================================
  Item Name: Mickale's Styles
  Version: 1.0
  Author: Mickale Saturre
  Author URL: http://www.sportzer.com/developers/mickale
================================================================================*/

/*================================================================================
  Item Name: Junre's Styles
  Version: 1.0
  Author: Junre Dexter Zapico
  Author URL: http://www.sportzer.com/developers/junre
================================================================================*/

/*================================================================================
  Item Name: Giovanni's Styles
  Version: 1.0
  Author: Giovanni Max Bulabos
  Author URL: http://www.sportzer.com/developers/giovanni
================================================================================*/

html,
body {
  margin: 0px;
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Sans Regular"), local("NunitoSans-Regular"), url(/fonts/nunito_sans.woff2?d62e65602a0e8702cefd1897d1d14fa4) format("woff2");
  src: local("Nunito Sans Regular"), local("NunitoSans-Regular"), url(/../fonts/nunito_sans.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.mywrapper {
  text-align: center;
  font-family: "Nunito Sans";
  width: 100%;
  height: 100vh;
  background: #32c5e8;
  background-repeat: no-repeat;
  padding-top: 50px;
  background-size: cover;
  background-position: center bottom;
  min-width: 300px;
}

.mytwowrapper {
  text-align: center;
  font-family: "Nunito Sans";
  width: 100%;
  background: #32c5e8;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px;
  background-size: cover;
  background-position: center top;
  min-width: 300px;
}

.regcontainer {
  margin: auto;
  background: white;
  width: 400px;
  padding: 30px;
  -webkit-box-shadow: 3px 6px 69px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 6px 69px -13px rgba(0, 0, 0, 0.75);
}

.regtwocontainer {
  width: 100%;
  background: white;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 3px 6px 69px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 6px 69px -13px rgba(0, 0, 0, 0.75);
}

.txtbox {
  font-family: "Nunito Sans";
  font-weight: 900;
  margin-top: 20px;
  width: 280px;
}

.btn-primary {
  border-radius: 0px !important;
  margin-top: 30px;
  width: 100%;
}

.mylink {
  text-decoration: none;
}

.mylink:hover {
  text-decoration: none;
}

label {
  font-family: "Nunito Sans" !important;
}

@media only screen and (max-width: 600px) {
  .regcontainer {
    width: 90%;
    -webkit-box-shadow: 3px 6px 69px -33px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 6px 69px -33px rgba(0, 0, 0, 0.75);
  }

  .mywrapper {
    padding-top: 5%;
  }
}

.gendercont {
  text-align: left !important;
  margin-left: 10px;
}

/*================================================================================
  Item Name: Mitch's Styles
  Version: 1.0
  Author: Mitch Alforque
  Author URL: http://www.sportzer.com/developers/mitch
================================================================================*/

.input-field p.error,
.gendercont p.error {
  font-size: 0.8rem;
  position: relative;
  color: #FF4081;
  left: 0rem;
  top: -1rem;
}

.description-container {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  height: 90vh;
  padding: 45px;
}

.description-logo {
  width: 80%;
}

.description-details {
  color: white;
  font-weight: 500;
  text-align: justify;
}

.login-logo {
  width: 40%;
}

.login-link {
  text-align: left !important;
  margin-left: 40px;
}

.align-left {
  left: 0em !important;
}

