
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "node_modules/material-kit/assets/scss/material-kit";

//materialize
@import "node_modules/materialize-css/sass/materialize";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//Lizl
@import 'lizl';

//Kelkel
@import 'mickale';

//Junre
@import 'junre';

//Giovanni
@import 'giovanni';

//Mitch
@import 'mitch';