/*================================================================================
  Item Name: Giovanni's Styles
  Version: 1.0
  Author: Giovanni Max Bulabos
  Author URL: http://www.sportzer.com/developers/giovanni
================================================================================*/

html,body{
  margin: 0px;
  background-color: #eee;
  color:#3c4858;
}
@font-face {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(/../fonts/nunito_sans.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.mywrapper{
text-align: center;
font-family: "Nunito Sans";
width: 100%;
height:100vh;
background: #32c5e8;
background-repeat: no-repeat;
padding-top: 50px;
      background-size: cover;
      background-position: center bottom;
      min-width: 300px;
}
.mytwowrapper{
  text-align: center;
  font-family: "Nunito Sans";
  width: 100%;
  background:#32c5e8;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px;
  background-size: cover;
  background-position: center top;
  min-width: 300px;
  }

.regcontainer{
margin: auto;
background: white;
width:400px;
padding: 30px;
-webkit-box-shadow: 3px 6px 69px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 69px -13px rgba(0,0,0,0.75);
box-shadow: 3px 6px 69px -13px rgba(0,0,0,0.75);
}

.regtwocontainer{
  width: 100%;
  background: white;
  padding: 30px; 
  text-align: center;
  -webkit-box-shadow: 3px 6px 69px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 6px 69px -13px rgba(0,0,0,0.75);
  box-shadow: 3px 6px 69px -13px rgba(0,0,0,0.75);
}

.txtbox{
font-family: "Nunito Sans";
font-weight: 900;
margin-top: 20px;
width: 280px;
}
.btn-primary{
border-radius: 0px !important;
margin-top: 30px;
width: 100%;
}

.mylink{
text-decoration: none;
}
.mylink:hover{
text-decoration: none;
  }
  label{
      font-family: "Nunito Sans" !important;
  }
  
  @media only screen and (max-width: 600px) {
.regcontainer {
  width:90%;
  -webkit-box-shadow: 3px 6px 69px -33px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 69px -33px rgba(0,0,0,0.75);
box-shadow: 3px 6px 69px -33px rgba(0,0,0,0.75);
}

.mywrapper{
  padding-top:5%;
}
}

.gendercont{
      text-align: left !important;
      margin-left: 10px;
    }

    .emailcont{
      font-weight: bold;
      padding:10px;
      margin:20px;
      background:#ececec;
    }

    .main{
      padding:10px 20px;
      padding-left:280px;
    }

    .main h6{
      margin:0;
    }

    .sidebarlogo{
      max-height:100%;
      padding: 5px;
      text-align:center;
    }

    .logolink{
      text-align:center;
    }

    .mysidenav li{
      margin:10px !important;
    }

    .mysidenav .active{
      background: rgba(41,182,246,0.8) !important;
    }

    .mysidenav li:hover{
      background: rgba(255,255,255,0.3);
    }

    .mysidenav{
      background: url("/../images/signupbg2.jpg");
      background-size:cover;
      background-position:center;
      width: 260px;
    }

    .personalpic{
      max-height:100%;
      vertical-align: middle;
    }

    .proflink{
      height: auto !important;
    }

.insidenavbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.leftpanelinside{
  display: inline-flex;
  margin-left: 40px;
}

.leftpanelinside div{
margin:5px 0px 5px 5px;
 width: 70px;
 padding-top: 7px;
 height: 40px;
 border-radius: 5px;
}

.leftpanelinside div a{
font-size:22px;
}

.pageheader{
  font-size:18px;
}

.logoli:hover{
  background: none !important;
  cursor: pointer;
}