/*================================================================================
  Item Name: Mitch's Styles
  Version: 1.0
  Author: Mitch Alforque
  Author URL: http://www.sportzer.com/developers/mitch
================================================================================*/

.input-field p.error, .gendercont p.error{
  font-size: 0.8rem;
  position:relative;
  color: #FF4081;
  left: 0rem;
  top: -1rem;
}

.description-container{
  width:100%; 
  background: rgba(0,0,0,0.2);
   height: 90vh; 
   padding: 45px;
}

.description-logo{
  width: 80%; 
}

.description-details{
  color: white;
   font-weight: 500; 
   text-align: justify;
}

.login-logo{
  width: 40%;
}

.login-link{
  text-align: left !important;
  margin-left: 40px;
}

.align-left{
  left: 0em !important;
}